SERVER_APP_NAME=heo-server
SERVER_APP_PORT=3000
SERVER_IMAGE_NAME=heo-server
SERVER_IMAGE_TAG=latest
NEXT_PUBLIC_API_BASE=http://39.107.251.224:3000

DATABASE_URL=postgresql://user:password@host:5432/heo?schema=public
